In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('ObesityDataSet.csv',usecols=['Gender','Weight','family_history_with_overweight'])

In [3]:
data['Gender'].replace({'Female': 'F', 'Male': 'M'}, inplace=True)

In [4]:
data['Weight']=data['Weight'].astype(int)

In [5]:
miss_val=data.isnull()

In [6]:
miss_val.sum()

Gender                            0
Weight                            0
family_history_with_overweight    0
dtype: int64

In [7]:
data.to_csv('Obesity.csv',index=False)

In [8]:
# Créer des groupes en utilisant les variables 'sexe' et 'antécédents familiaux'
mean = data['Weight'].mean()
std = data['Weight'].std()

# supprimer les valeurs aberrantes

#data['Weight']=np.log(data['Weight'])
data = data[(data['Weight'] >= mean - 3 * std) & (data['Weight'] <= mean + 3 * std)]
data

     Gender  Weight family_history_with_overweight
0         F      64                            yes
1         F      56                            yes
2         M      77                            yes
3         M      87                             no
4         M      89                             no
...     ...     ...                            ...
2106      F     131                            yes
2107      F     133                            yes
2108      F     133                            yes
2109      F     133                            yes
2110      F     133                            yes

[2109 rows x 3 columns]

In [9]:
from scipy.stats import levene

In [10]:
grouped_data = data.groupby(['Gender', 'family_history_with_overweight'])
# Appliquer le test de Levene pour tester l'homogénéité de variance
test_result = levene(*[group['Weight'] for name, group in grouped_data])

In [11]:
if test_result.pvalue > 0.05:
    print("Les variances sont homogènes pour toutes les combinaisons de variables.")
else:
    print("Il y a une différence significative dans les variances pour au moins une combinaison de variables.")

Il y a une différence significative dans les variances pour au moins une combinaison de variables.

In [12]:
from scipy.stats import bartlett

In [13]:
groupes = data.groupby(["Gender", "family_history_with_overweight"])["Weight"].apply(list)
stat, p = bartlett(*groupes)

In [14]:
if p < 0.05:
    print("Les variances des groupes sont significativement différentes")
else:
    print("Les variances des groupes ne sont pas significativement différentes")

Les variances des groupes sont significativement différentes

In [15]:
moyennes= data.groupby(["Gender", "family_history_with_overweight"])['Weight'].sum()
moyennes

Gender  family_history_with_overweight
F       no                                11898
        yes                               73376
M       no                                10763
        yes                               85667
Name: Weight, dtype: int32